# dependencies
node_modules/

# Expo
.expo/
web-build/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# testing
coverage/
